.filter {
    display: flex;
    gap: 2rem;
    font-size: 14px;
    color: grey;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}

.active {
    color: black;
}

input[type=radio] {
    margin-right: .5rem;
}