.complete {
  color: grey;
  text-decoration-line: line-through;
}

.todo_item_field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  margin: 0 auto;
}

.todo_text {
  width: 65%;
}

.edit_input {
  width: 70%;
  border: 1px solid #ccc;
}

.btn_box {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.btn_box button {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 3px;
}